<h1>This is the Contact Page</h1>


  <div class="parallax-container">
   <div class = " contactwords">
    <div class="parallax"></div>
  </div>
  <div class="section white">
   <h1>HELLO</h1>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"></div>
  </div>  
       
<!--         <br><center class = "underconstruction">
If you are viewing this-<br> I have been meticulously fixing the responsiveness on the home page, as well as working on a few other projects before graduation. This portfolio is not yet complete.<br>Thank you! <br><br>
UNDER CONSTRUCTION




<div class = "linkedincontact" >
	<a href="https://www.linkedin.com/in/jeslyn-tweedie-59b58938">
      
          <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_liprofile_blue_80x15.png" width="90" height="20" border="0" alt="View Jeslyn Tweedie's profile on LinkedIn"></div>
 -->

 <!-- 	 <div class="parallax-container">
      <div class="parallax">
     <img src="https://images.unsplash.com/photo-1462121457351-9fb0f5622b72?dpr=1&auto=format&crop=entropy&fit=crop&w=1500&h=1000&q=80"></div>
    </div> -->

      